In [2]:
import numpy as np
import pandas as pd

import data

In [34]:
race_variables = [
    # Population, low access to store (%), 2015
    # "PCT_LACCESS_POP15",
    # White, low access to store (%), 2015
    "PCT_LACCESS_WHITE15",
    # Black, low access to store (%), 2015
    "PCT_LACCESS_BLACK15",
    # Hispanic ethnicity, low access to store (%), 2015
    "PCT_LACCESS_HISP15",
    # Asian, low access to store (%), 2015
    "PCT_LACCESS_NHASIAN15",
    # American Indian or Alaska Native, low access to store (%), 2015
    "PCT_LACCESS_NHNA15",
    # Hawaiian or Pacific Islander, low access to store (%), 2015
    "PCT_LACCESS_NHPI15",
]

# dropna only drops 45 counties.
race_X = data.all_food[race_variables].dropna()

In [37]:
from sklearn.cluster import KMeans

k = KMeans(n_clusters=5)

k.fit(race_X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [39]:
pd.DataFrame(k.cluster_centers_, columns=race_variables)

,PCT_LACCESS_WHITE15,PCT_LACCESS_BLACK15,PCT_LACCESS_HISP15,PCT_LACCESS_NHASIAN15,PCT_LACCESS_NHNA15,PCT_LACCESS_NHPI15
0,18.990060,2.085719,1.935947,0.333209,0.400448,0.020509
1,20.095880,0.159474,1.830855,0.376881,45.672242,0.120239
2,87.440793,0.715465,10.156440,0.297187,0.976706,0.038269
3,6.858587,2.054519,0.601575,0.136517,0.190865,0.012455
4,35.013573,1.237262,4.123128,0.322296,0.835722,0.024226

In [40]:
pd.Series(k.labels_).value_counts()

3    1290
0    1233
4     451
2     122
1      25
dtype: int64

In [45]:
choice_variables = [
    # Grocery stores/1,000 pop, 2014
    "GROCPTH14",
    # Supercenters & club stores/1,000 pop, 2014
    "SUPERCPTH14",
    # Convenience stores/1,000 pop, 2014
    "CONVSPTH14",
    # Specialized food stores/1,000 pop, 2014
    "SPECSPTH14",
    # # SNAP-authorized stores/1,000 pop, 2016
    # "SNAPSPTH16",
    # # WIC-authorized stores/1,000 pop, 2012
    # "WICSPTH12",
    # Fast-food restaurants/1,000 pop, 2014
    "FFRPTH14",
    # Full-service restaurants/1,000 pop, 2014
    "FSRPTH14",
    # Farmers' markets/1,000 pop, 2016
    "FMRKTPTH16",
]

# There actually aren't any missing variables
choice_X = data.all_food[choice_variables]

In [50]:
from sklearn.cluster import KMeans

k_choice = KMeans(n_clusters=5)

k_choice.fit(choice_X)

pd.DataFrame(k_choice.cluster_centers_, columns=[
    "Grocery stores/1,000 pop, 2014",
    "Supercenters & club stores/1,000 pop, 2014",
    "Convenience stores/1,000 pop, 2014",
    "Specialized food stores/1,000 pop, 2014",
    "Fast-food restaurants/1,000 pop, 2014",
    "Full-service restaurants/1,000 pop, 2014",
    "Farmers' markets/1,000 pop, 2016",
])

,"Grocery stores/1,000 pop, 2014","Supercenters & club stores/1,000 pop, 2014","Convenience stores/1,000 pop, 2014","Specialized food stores/1,000 pop, 2014","Fast-food restaurants/1,000 pop, 2014","Full-service restaurants/1,000 pop, 2014","Farmers' markets/1,000 pop, 2016"
0,0.231492,0.014168,0.656007,0.029819,0.396017,0.424836,0.050124
1,0.508885,0.016404,0.887236,0.158566,1.074713,2.864643,0.146636
2,0.444211,0.011711,0.773544,0.067862,0.532028,1.350442,0.109127
3,0.192814,0.023321,0.480661,0.057046,0.690495,0.740503,0.044029
4,1.341521,0.000000,2.295223,0.000000,1.747055,8.836267,0.341530

In [51]:
pd.Series(k_choice.labels_).value_counts()

3    1521
0    1087
2     451
1      77
4       4
dtype: int64